<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <!--    <context-param>
    <param-name>primefaces.THEME</param-name>
    <param-value>none</param-value>
    </context-param>-->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>reports</servlet-name>
        <servlet-class>rw.rnp.report.StolenProperty</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reports</servlet-name>
        <url-pattern>/SProperty</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>DisplayImage</display-name>
        <servlet-name>DisplayImage</servlet-name>
        <servlet-class>rw.rnp.controller.DisplayImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayImage</servlet-name>
        <url-pattern>/DisplayImage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StolenProperty</servlet-name>
        <servlet-class>rw.rnp.report.StolenProperty</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StolenProperty</servlet-name>
        <url-pattern>/StolenProperty</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReportedProperty</servlet-name>
        <servlet-class>rw.rnp.report.ReportedProperty</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportedProperty</servlet-name>
        <url-pattern>/ReportedProperty</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReviewedProperty</servlet-name>
        <servlet-class>rw.rnp.report.ReviewedProperty</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReviewedProperty</servlet-name>
        <url-pattern>/ReviewedProperty</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ClaimedProperty</servlet-name>
        <servlet-class>rw.rnp.report.ClaimedProperty</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClaimedProperty</servlet-name>
        <url-pattern>/ClaimedProperty</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ElectronicsStolenProperty</servlet-name>
        <servlet-class>rw.rnp.report.ElectronicsStolenProperty</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ElectronicsStolenProperty</servlet-name>
        <url-pattern>/ElectronicsStolenProperty</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FurnitureStolenProperty</servlet-name>
        <servlet-class>rw.rnp.report.FurnitureStolenProperty</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FurnitureStolenProperty</servlet-name>
        <url-pattern>/FurnitureStolenProperty</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VehiclesStolenProperty</servlet-name>
        <servlet-class>rw.rnp.report.VehiclesStolenProperty</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VehiclesStolenProperty</servlet-name>
        <url-pattern>/VehiclesStolenProperty</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OthersStolenProperty</servlet-name>
        <servlet-class>rw.rnp.report.OthersStolenProperty</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OthersStolenProperty</servlet-name>
        <url-pattern>/OthersStolenProperty</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ElectronicsReportedProperty</servlet-name>
        <servlet-class>rw.rnp.report.ElectronicsReportedProperty</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ElectronicsReportedProperty</servlet-name>
        <url-pattern>/ElectronicsReportedProperty</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FurnitureReportedProperty</servlet-name>
        <servlet-class>rw.rnp.report.FurnitureReportedProperty</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FurnitureReportedProperty</servlet-name>
        <url-pattern>/FurnitureReportedProperty</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OthersReportedProperty</servlet-name>
        <servlet-class>rw.rnp.report.OthersReportedProperty</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OthersReportedProperty</servlet-name>
        <url-pattern>/OthersReportedProperty</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VehiclesReportedProperty</servlet-name>
        <servlet-class>rw.rnp.report.VehiclesReportedProperty</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VehiclesReportedProperty</servlet-name>
        <url-pattern>/VehiclesReportedProperty</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>homePage.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
